  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *">
    <title>WebSocket Client</title>
  </head>
  <body>
    <h1>WebSocket Client</h1>

    <!-- Request Screenshot Button -->
    <button id="screenshotBtn">Request Screenshot</button>

    <!-- Send Click Action -->
    <div>
      <h2>Send Click</h2>
      <input type="text" id="clickTextInput" placeholder="Enter text for click action">
      <button id="clickBtn">Send Click</button>
    </div>

    <!-- Send Fill Action -->
    <div>
      <h2>Send Fill</h2>
      <input type="text" id="hintTextInput" placeholder="Enter hint text">
      <input type="text" id="fillTextInput" placeholder="Enter fill text">
      <button id="fillBtn">Send Fill</button>
    </div>

    <!-- Send Open Action -->
    <div>
      <h2>Send Open</h2>
      <input type="text" id="openTextInput" placeholder="Enter text for open action">
      <button id="openBtn">Send Open</button>
    </div>

    <!-- Send Dump Action -->
    <div>
      <h2>Send Dump</h2>
      <button id="dumpBtn">Send Dump</button>
    </div>

    <div id="messages"></div>

    <script src="../main.js">
      // Kết nối đến WebSocket server
     
    </script>
  </body>
  </html>
